:root {
    --clr-neon: hsl(317 100% 54%);
    --clr-ng: hsl(323 21% 16%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

a {
    text-decoration: none;
    color: black;
}


.mine_col {
    float: left;
    width: 23%;
    background-color: antiquewhite;
    padding: 1%;
    border: 2px black;
}
.mine {
    width: 98%;
    height: 98%;
    border-radius: 6%;


}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.col {
    float: left;
    width: 50%;
}
.small_space {
    margin-top: 25px;
}

.space {
    margin-top: 100px;
}
.column.side {
    float: left;
    width: 15%;
    margin-left: 5%;
}
  

.mines_container {
    float: left;
    width: 80%;

}

.clicked {
    animation: flipV 1s linear;
}
.mine_row {
    width: 50%;
    margin-left: 25%;

}
.mine_row:after {
    content: "";
    display: table;
    clear: both;
}
.money {
    font-size: 50px;
    color: green;
    font-family: Arial, Helvetica, sans-serif;
}

.money_depo {
    width: 99%;
    height: 35px;
    margin: 0px 0;
    outline: none;
    background-color: antiquewhite;
    box-shadow: none;
    border: none;
    font-size: 30px;
    padding-left: 1%;
}

.button_depo {
    border: none;
    box-shadow: none;
    margin-left: 5px;
    height: 35px;
    width: 100%;
    background-color: #9381FF;
    cursor: pointer;
}
.cashout {
    font-size: 32px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
}

.cashout_background {
    background-color: rgb(248, 212, 168);
    height: 35px;
}

.button_withdraw {
    border: none;
    box-shadow: none;
    margin-left: 5px;
    height: 35px;
    width: 100%;
    background-color: #9381FF;
    cursor: pointer;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    appearance: none; 
}

.header_depo {
    font-family: 'Open Sans', sans-serif;
    color: ghostwhite;
}

body {
    background-color: rgb(26, 26, 26);
    perspective: 500px;
}

header {
    background-color: #B8B8FF;
    width: 100%;
}

@keyframes flipV {
    50% {
        transform: rotateX(180deg);
    }
    to {
        transform: rotateX(360deg);
    }
}

@keyframes flipH {
    0% {
        transform: translateY(500px);
    }
    75% {
        transform: translateY(0px);
    }
    80% {
        transform: skew(2deg);
    }
    100% {
        transform: skew(0deg);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
/* 
BLACKJACK CSS BLACKJACK CSS BLACKJACK CSS BLACKJACK CSS BLACKJACK CSS BLACKJACK CSS 
BLACKJACK CSS BLACKJACK CSS BLACKJACK CSS BLACKJACK CSS BLACKJACK CSS BLACKJACK CSS
BLACKJACK CSS BLACKJACK CSS BLACKJACK CSS BLACKJACK CSS BLACKJACK CSS BLACKJACK CSS
BLACKJACK CSS BLACKJACK CSS BLACKJACK CSS BLACKJACK CSS BLACKJACK CSS BLACKJACK CSS
*/

h3 {
    color: white;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    animation: fadeIn 1.5s ease-in;
}

.blackjack_container {
    width: 75%;
    float: left;
    margin-left: 5%;
}

.hit_button {
    width: 99%;
    height: 35px;
    background-color: #B8B8FF;
    border: none;
    cursor: pointer;
}

.stand_button {
    margin-left: 5px;
    width: 100%;
    height: 35px;
    background-color: #B8B8FF;
    border: none;
    cursor: pointer;
}
.dealer_cards::after {
    content: "";
    display: table;
    clear: both;    
}

.dealer_cards {
    display: inline-flex;
    width: 100%;
    animation: flipH 0.5s ease-in;
}

.player_cards {
    display: inline-flex;
    animation: flipH 0.5s ease-in;
}

.player_cards::after {
    content: "";
    display: table;
    clear: both;
}

.card {
    width: 200px;
    height: 300px;
    margin-left: 5px;
}

.new_card {
    animation: flipH 0.5s ease-in;
}

.card_3 {
    background-image: url("card_3.png");
}

/* 
Intro website
*/

.game_div {
    margin-top: 100px;
    width: 400px;
    height: 200px;
    background-color: #9381FF;
    border-radius: 5%;
    margin-left: 40%;
    cursor: pointer;
}

.intro_paragraph {
    margin-top: 100px;
    font-family: 'Arimo', sans-serif;
    color: white;
    text-align: center;
    font-size: 35px;
    padding-left: 500px;
    padding-right: 500px;
}

.game_title {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    text-align: center;
}

#bj_card {
    background-image: url("game_div.png");
}

#mine_card {
    background-image: url("mines_div.png");
}

#wheel_card {
    background-image: url("wheel_game_div.png");
}

.title {
    font-family: 'Arimo', sans-serif;
    text-align: center;
    font-size: 50px;
    padding-top: 2px;
}

.outer_wheel {
    width: 200px;
    height: 200px;
    padding: 10px;
    border-radius: 50%;
    border-width: 5px;
    border-style: solid;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;


    color: var(--clr-neon);
    background: -webkit-linear-gradient(left top, crimson 0%, #f90 100%);

    border-color: line;
    box-shadow: inset 0 0 0.5em 0 var(--clr-neon), 0 0 0.5em 0 var(--clr-neon);
}

.inner_wheel {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-image: linear-gradient(to bottom right, #9381FF, #B8B8FF);
}

.input_wrapper {
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.range_slider {
    -webkit-appearance: none;
    width: 500px;
    height: 10px;
}

.range_slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; 
    height: 25px;
    cursor: pointer; 
    border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-top: 25px solid #8100bd;
  }